<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 class="galleries-title">Galleries</h1>

  <% if current_user %>
    <%= link_to 'Create New Gallery', new_gallery_path %>
  <% end %>
      
  <% @galleries.each do |gallery| %>
    <div class="gallery-container">
      <div class="row mx-lg-n5">
        <div class="col-12 col-md-5">
          <% if gallery.images.first %>
            <a href="<%= gallery_path(gallery.id) %>"><%= image_tag(gallery.images.first.url.cover.url) %></a>
          <% end %>
        </div>
        <div class="col-6 col-md-7 album-info">
          <h2 class="album-title"><%= gallery.name %></h2>
          <%= gallery.created_at.strftime('%d-%m-%Y %H:%M:%S') %>
          <br>
          <% if current_user %>
            <% if current_user.id == gallery.user_id %>
              <%= link_to 'Edit', edit_gallery_path(gallery) %>   |
              <%= link_to 'Delete', gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
              <br>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  
  <% end %>

  <br>
 
</div>
