<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="album-container">
      <div class="row mx-lg-n5">
        <div class="col-12 col-md-5">
          <a href="<%= gallery_path(@gallery.id) %>"><%= image_tag(@gallery.images.first.url.cover.url) %></a>
        </div>
        <div class="col-6 col-md-7">
          <h2 class="album-title"><%= @gallery.name %></h2>
          <%= @gallery.created_at.strftime('%d-%m-%Y %H:%M:%S') %>
          <br>
          <%= link_to 'Back', galleries_path %> |
          <% if current_user %>
            <% if current_user.id == @gallery.user_id %>
              <%= link_to 'Edit', edit_gallery_path(@gallery) %>  |
              <%= link_to 'Delete', @gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
              <br>
              <br>
              <%= form_with(url: images_path) do |form| %>
                <div class="field">
                  <br>
                  <%= form.label :upload_image_to_album %>
                  <%= form.file_field :url %>
                </div>
                <%= form.hidden_field :gallery_id, value: @gallery.id %>
                <br>
                <div class="actions">
                  <%= form.submit "Upload image", class: "btn btn-primary" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

    <h4 class="images-title">Images in gallery:</h4>            
    <% @gallery.images.each do |image| %>
      <tr>
        <a href="<%= image_path(image.id) %>"><td><%= image_tag(image.url.thumbnail.url) %></td></a>
      <tr>
    <% end %>

  </div>
</div>
